<header>
  <div layout="column" layout-fill ng-controller="MainCtrl as mc">
    <div id="scrollmenu">
        <a href="#home">{{ 'header-footer.home' | translate }}</a>
        <a href="#product">{{ 'header-footer.product' | translate }}</a>
        <a href="#service">{{ 'header-footer.service' | translate }}</a>
        <a href="#news">{{ 'header-footer.news' | translate }}</a>
        <a href="#about">{{ 'header-footer.about' | translate }}</a>
    </div>
  </div>
  </header>

  <footer>
  <div id="footer">
      {{ 'header-footer.copyright' | translate }}
  </div>
  </footer>
