<!--The content below is only a placeholder and can be replaced.-->
<button (click)="useLanguage('en')">{{ 'languages.en' |translate}}</button>
<button (click)="useLanguage('de')">{{ 'languages.de' |translate}}</button>
<button (click)="useLanguage('fr')">{{ 'languages.fr' |translate}}</button>
<button (click)="useLanguage('bn')">{{ 'languages.bn' |translate}}</button>

<app-header-footer></app-header-footer>

<h5>{{ 'geo_map_actions.title' | translate }} </h5>
<table>
  <tr>
    <td>

      <div>
        <button class="new-button" (click)="editorTypeSelection('geomapportal')">
          {{ 'geo_map_actions.geoMapPortal' | translate }}</button>
      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('drawModifyVectorFeature')">
          {{ 'main_app_actions.drawModifyVectorFeature' | translate }}
        </button>
      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('draganddropfeature')">
          {{ 'main_app_actions.draganddropfeature' | translate }}
        </button>
      </div>



      <div>
        <button class="new-button" (click)="editorTypeSelection('mapaddresses')">
          {{ 'geo_map_actions.addressRegistred' | translate }}</button>
      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('mapplots')">
          {{ 'geo_map_actions.plotRegistred' | translate }}
        </button>

      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('mapbuildings')">
          {{ 'geo_map_actions.buildingRegistred' | translate }}
        </button>

      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('mapfloors')">
          {{ 'geo_map_actions.floorRegistred' | translate }}
        </button>

      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('mapunits')">
          {{ 'geo_map_actions.unitRegistred' | translate }}
        </button>

      </div>

    </td>
    <td><app-draw-modify-vector-feature *ngIf="drawModifyVectorFeature"></app-draw-modify-vector-feature></td>
    <td><app-drag-and-drop-feature *ngIf="showDraganddropfeature"></app-drag-and-drop-feature></td>
    <td><app-geo-map-portal *ngIf="showGeoMapPortal"></app-geo-map-portal></td>

  </tr>

  <tr>
    <td>
      <div id="mouse-position"></div>
    </td>

  </tr>
</table>


<router-outlet></router-outlet>
