.map {
  margin: auto;
  width: 100%;
  height: 90vh;
}

button {
  background-color: #625f9c;
  text-transform: uppercase;
  border: 1px solid #625f9c;
  border-radius: 3px;
  color: white;
  width: auto;
  padding: 7px 15px;
  box-shadow: 0 2px 5px rgba(167, 154, 154, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 5px;
}
